body {
  background-color: rgb(170, 170, 170);
}

.tableExpenses {
  background-color: #eee;
  border: 2px solid #4f7849;
  border-collapse: collapse;
  font-family: Arial, cursive, sans-serif;
  text-align: center;
  width: 100%;
}

td , th {
  border: 1px solid #4a4a4a;
  padding: 3px 2px;
}

td {
  background: #181818;
  color: white;
  font-size: 17px;
  font-weight: 400;
}

.addExpense {
  background-color: rgb(40, 40, 40);
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.addExpense label {
  display: flex;
  flex-direction: column;
}
